# Python_Pattern_Programs

## 1. Square_Pattern

In [1]:
n=int(input("enter any no.:"))
for i in range(n):
      print('* ',end=" ")

enter any no.:5
*  *  *  *  *

In [3]:
n=int(input("enter any no.:"))
for i in range(n):
      print('* '*n)

enter any no.:5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
n=int(input("enter any no.:"))
for i in range(n):
      print((str(n)+" ")*n)

enter any no.:5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [11]:
n=int(input("enter any no.:"))
for i in range(n):
      print((str(i+1)+" ")*n)

enter any no.:5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [12]:
n=int(input("enter any no.:"))
for i in range(n):
    for j in range(1,n+1):
        print(j,end=' ')
    print()

enter any no.:5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [13]:
n=int(input("enter any no.:"))
for i in range(n):
      print('A '*n)

enter any no.:5
A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [14]:
n=int(input("enter any no.:"))
for i in range(n):
      print((chr(65+i)+' ')*n)

enter any no.:5
A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [18]:
n=int(input("enter any no.:"))
for i in range(n):
    for j in range(n):
        print(chr(65+j),end=' ')
    print()

enter any no.:5
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [19]:
n=int(input("enter no of rows:"))
for i in range(n):
      print((str(n-i)+' ')*n)

enter no of rows:5
5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [20]:
n=int(input("enter no of rows:"))
for i in range(n):
      print((chr(64+n-i)+' ')*n)

enter no of rows:5
E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [21]:
n=int(input("enter no of rows:"))
for i in range(n):
    for j in range(n):
        print(n-j,end=" ")
    print()

enter no of rows:5
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [22]:
n=int(input("enter no of rows:"))
for i in range(n):
    for j in range(n):
        print(chr(64+n-j),end=" ")
    print()

enter no of rows:5
E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

## 2. Right_Angle_Traingle_Pattern

In [23]:
n=int(input("enter no of rows:"))
for i in range(n):
    print((i+1)*('* '))

enter no of rows:5
*
* *
* * *
* * * *
* * * * *

In [1]:
n=int(input("enter no of rows:"))
for i in range(n):
    print((i+1)*(str(i+1)+' '))

enter no of rows:5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [2]:
n=int(input("enter no of rows:"))
for i in range(n):
    print((i+1)*(chr(65+i)+' '))

enter no of rows:5
A
B B
C C C
D D D D
E E E E E

In [3]:
n=int(input("enter no of rows:"))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=' ')
    print()

enter no of rows:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
n=int(input("enter no of rows:"))
for i in range(n):
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()

enter no of rows:5
A
A B
A B C
A B C D
A B C D E

## 3. Inverted_Right_Angle_Traingle_Pattern

In [13]:
n=int(input("enter no of rows:"))
for i in range(n):
    print((n-i)*'* ')

enter no of rows:5
* * * * *
* * * *
* * *
* *
*

In [18]:
n=int(input("enter no of rows:"))
for i in range(n):
    for j in range(n-i):
        print(j+1,end=" ")
    print()

enter no of rows:5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [20]:
n=int(input("enter no of rows:"))
for i in range(n):
    for j in range(n-i):
        print(chr(65+j),end=' ')
    print()

enter no of rows:5
A B C D E
A B C D
A B C
A B
A

In [21]:
n=int(input("enter no of rows:"))
for i in range(n):
    for j in range(n-i):
        print(n-j,end=" ")
    print()

enter no of rows:5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [24]:
n=int(input("enter no of rows:"))
for i in range(n):
    for j in range(n-i):
        print(chr(64+n-j),end=' ')
    print()

enter no of rows:5
E D C B A
E D C B
E D C
E D
E

## 4. Pyramid_Pattern

In [1]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(n-i-1)+'* '*(i+1))

enter no of rows:5
    *
   * *
  * * *
 * * * *
* * * * *

In [3]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(n-i-1)+(str(i+1)+' ')*(i+1))

enter no of rows:5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [4]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(n-i-1)+(chr(65+i)+' ')*(i+1))

enter no of rows:5
    A
   B B
  C C C
 D D D D
E E E E E

In [7]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(n-i-1),end=" ")
    for j in range(i+1):
        print(j+1,end=" ")
    print()

enter no of rows:5
     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [1]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(n-i-1),end=" ")
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()

enter no of rows:5
     A
    A B
   A B C
  A B C D
 A B C D E

In [2]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(n-i-1),end=" ")
    for j in range(i+1):
        print(n-j,end=" ")
    print()

enter no of rows:5
     5
    5 4
   5 4 3
  5 4 3 2
 5 4 3 2 1

In [22]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(n-i-1),end=" ")
    for j in range(i+1):
        print(chr(64+n-j),end=" ")
    print()

enter no of rows:5
     E
    E D
   E D C
  E D C B
 E D C B A

## 5. Inverted_Pyramid_Pattern

In [23]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(i)+'* '*(n-i))

enter no of rows:5
* * * * *
 * * * *
  * * *
   * *
    *

In [24]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(i)+(str(i+1)+' ')*(n-i))

enter no of rows:5
1 1 1 1 1
 2 2 2 2
  3 3 3
   4 4
    5

In [25]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(i)+(chr(65+i)+' ')*(n-i))

enter no of rows:5
A A A A A
 B B B B
  C C C
   D D
    E

In [26]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(i),end=" ")
    for j in range(n-i):
        print(j+1,end=" ")
    print()

enter no of rows:5
 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1

In [27]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(i),end=" ")
    for j in range(n-i):
        print(chr(65+j),end=" ")
    print()

enter no of rows:5
 A B C D E
  A B C D
   A B C
    A B
     A

In [29]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(i),end=" ")
    for j in range(n-i):
        print(n-j,end=" ")
    print()

enter no of rows:5
 5 4 3 2 1
  5 4 3 2
   5 4 3
    5 4
     5

In [31]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(i),end=" ")
    for j in range(n-i):
        print(chr(64+n-j),end=" ")
    print()

enter no of rows:5
 E D C B A
  E D C B
   E D C
    E D
     E

## 6. Diamond_Pattern

In [6]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(n-i-1),"* "*(i+1))
for i in range(n-1):
    print(' '*(i+1),'* '*(n-i-1))

enter no of rows:4
    *
   * *
  * * *
 * * * *
  * * *
   * *
    *

In [8]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(n-i-1),(str(i+1)+' ')*(i+1))
for i in range(n-1):
    print(' '*(i+1),(str(n-i-1)+' ')*(n-i-1))

enter no of rows:4
    1
   2 2
  3 3 3
 4 4 4 4
  3 3 3
   2 2
    1

In [3]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(n-i-1),(chr(65+i)+' ')*(i+1))
for i in range(n-1):
    print(' '*(i+1),(chr(63+n-i)+' ')*(n-i-1))

enter no of rows:4
    A
   B B
  C C C
 D D D D
  C C C
   B B
    A

In [13]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(n-i-1),end=" ")
    for j in range(i+1):
        print(j+1,end=" ")
    print()
for i in range(n-1):
    print(' '*(i+1),end=" ")
    for j in range(n-i-1):
        print(j+1,end=' ')
    print()

enter no of rows:4
    1
   1 2
  1 2 3
 1 2 3 4
  1 2 3
   1 2
    1

In [3]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(n-i-1),end=" ")
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()
for i in range(n-1):
    print(' '*(i+1),end=" ")
    for j in range(n-i-1):
        print(chr(65+j),end=' ')
    print()

enter no of rows:4
    A
   A B
  A B C
 A B C D
  A B C
   A B
    A

In [4]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(n-i-1),end=" ")
    for j in range(i+1):
        print(n-j,end=" ")
    print()
for i in range(n-1):
    print(' '*(i+1),end=" ")
    for j in range(n-i-1):
        print(n-j,end=' ')
    print()

enter no of rows:4
    4
   4 3
  4 3 2
 4 3 2 1
  4 3 2
   4 3
    4

In [6]:
n=int(input("enter no of rows:"))
for i in range(n):
    print(' '*(n-i-1),end=" ")
    for j in range(i+1):
        print(chr(64+n-j),end=" ")
    print()
for i in range(n-1):
    print(' '*(i+1),end=" ")
    for j in range(n-i-1):
        print(chr(64+n-j),end=' ')
    print()

enter no of rows:4
    D
   D C
  D C B
 D C B A
  D C B
   D C
    D

## 7. Right_Half_Diamond_Pattern

In [12]:
n=int(input("enter no of rows:"))
for i in range(n):
    print((i+1)*('* '))
for i in range(n-1):
    print((n-i-1)*('* '))

enter no of rows:4
*
* *
* * *
* * * *
* * *
* *
*

In [1]:
n=int(input("enter no of rows:"))
for i in range(n):
    print((str(i+1)+' ')*(i+1))
for i in range(n-1):
    print((str(n-i-1)+' ')*(n-i-1))

enter no of rows:4
1
2 2
3 3 3
4 4 4 4
3 3 3
2 2
1

In [6]:
n=int(input("enter no of rows:"))
for i in range(n):
    print((chr(65+i)+' ')*(i+1))
for i in range(n-1):
    print((chr(63+n-i)+' ')*(n-i-1))

enter no of rows:4
A
B B
C C C
D D D D
C C C
B B
A

In [9]:
n=int(input("enter no of rows:"))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=' ')
    print()
for i in range(n-1):
    for j in range(n-i-1):
        print(j+1,end=" ")
    print()

enter no of rows:4
1
1 2
1 2 3
1 2 3 4
1 2 3
1 2
1

In [18]:
n=int(input("enter no of rows:"))
for i in range(n):
    for j in range(i+1):
        print(chr(65+j),end=' ')
    print()
for i in range(n-1):
    for j in range(n-i-1):
        print(chr(65+j),end=" ")
    print()

enter no of rows:4
A
A B
A B C
A B C D
A B C
A B
A

In [5]:
n=int(input("enter no of rows:"))
for i in range(n):
    for j in range(i+1):
        print(n-j,end=" ")
    print()
for i in range(n-1):
    for j in range(n-i-1):
        print(n-j,end=" ")
    print()

enter no of rows:4
4
4 3
4 3 2
4 3 2 1
4 3 2
4 3
4

In [11]:
n=int(input("enter no of rows:"))
for i in range(n):
    for j in range(i+1):
        print(chr(64+n-j),end=" ")
    print()
for i in range(n-1):
    for j in range(n-i-1):
        print(chr(64+n-j),end=" ")
    print()

enter no of rows:4
D
D C
D C B
D C B A
D C B
D C
D

## 8. Left_Half_Diamond_Problem

In [13]:
n=int(input("enter no of rows:"))
for i in range(n):
    print('  '*(n-i-1)+"* "*(i+1))
for i in range(n-1):
    print('  '*(i+1)+"* "*(n-i-1))

enter no of rows:4
      *
    * *
  * * *
* * * *
  * * *
    * *
      *

In [17]:
n=int(input("enter no of rows:"))
for i in range(n):
    print('  '*(n-i-1)+(str(i+1)+" ")*(i+1))
for i in range(n-1):
    print('  '*(i+1)+(str(n-i-1)+" ")*(n-i-1))

enter no of rows:4
      1
    2 2
  3 3 3
4 4 4 4
  3 3 3
    2 2
      1

In [21]:
n=int(input("enter no of rows:"))
for i in range(n):
    print('  '*(n-i-1)+(chr(65+i)+" ")*(i+1))
for i in range(n-1):
    print('  '*(i+1)+(chr(63+n-i)+" ")*(n-i-1))

enter no of rows:4
      A
    B B
  C C C
D D D D
  C C C
    B B
      A

In [27]:
n=int(input("enter no of rows:"))
for i in range(n):
    print('  '*(n-i-1),end=' ')
    for j in range(i+1):
        print(j+1,end=" ")
    print()
for i in range(n-1):
    print('  '*(i+1),end=' ')
    for j in range(n-i-1):
        print(j+1,end=" ")
    print()

enter no of rows:4
       1
     1 2
   1 2 3
 1 2 3 4
   1 2 3
     1 2
       1

In [33]:
n=int(input("enter no of rows:"))
for i in range(n):
    print('  '*(n-i-1),end=' ')
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()
for i in range(n-1):
    print('  '*(i+1),end=' ')
    for j in range(n-i-1):
        print(chr(65+j),end=" ")
    print()

enter no of rows:4
       A
     A B
   A B C
 A B C D
   A B C
     A B
       A

In [1]:
## Alphbates_Pattern

In [6]:
for row in range(7):
    for col in range(5):
        if (row==0) and (col in {1,2,3}):
            print("*",end=" ")
        elif (row in {1,2,4,5,6}) and (col in {0,4}):
            print("*",end=" ")
        elif (row==3):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [7]:
for row in range(7):
    for col in range(5):
        if (row in {0,3,6}) and (col in {0,1,2,3}):
            print("*",end=" ")
        elif (row in {1,2,4,5}) and (col in {0,4}):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

* * * *
*       *
*       *
* * * *
*       *
*       *
* * * *

In [9]:
for row in range(7):
    for col in range(5):
        if (row in {0,6}) and (col in {1,2,3}):
            print("*",end=" ")
        elif (row in {1,5}) and (col in {0,4}):
            print("*",end=" ")
        elif (row in {2,3,4}) and (col==0):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

  * * *
*       *
*
*
*
*       *
  * * *

In [10]:
for row in range(7):
    for col in range(5):
        if (row in {0,6}) and (col in {0,1,2,3}):
            print("*",end=" ")
        elif (row in {1,2,3,4,5}) and (col in {0,4}):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

* * * *
*       *
*       *
*       *
*       *
*       *
* * * *

In [11]:
for row in range(7):
    for col in range(5):
        if (row in {0,3,6}) and (col in {0,1,2,3,4}):
            print("*",end=" ")
        elif (row in {1,2,4,5}) and (col==0):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

* * * * *
*
*
* * * * *
*
*
* * * * *

In [12]:
for row in range(7):
    for col in range(5):
        if (row in {0,3}) and (col in {0,1,2,3,4}):
            print("*",end=" ")
        elif (row in {1,2,4,5,6}) and (col==0):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

* * * * *
*
*
* * * * *
*
*
*

In [2]:
for row in range(7):
    for col in range(5):
        if (row in {0,6}) and (col in {1,2,3}):
            print("*",end=" ")
        elif (row in {1,4,5}) and (col in {0,4}):
            print("*",end=" ")
        elif(row==2) and (col==0):
            print("*",end=" ")
        elif(row==3) and (col in {0,2,3,4}):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

  * * *
*       *
*
*   * * *
*       *
*       *
  * * *

In [16]:
for row in range(7):
    for col in range(5):
        if (row in {0,1,2,4,5,6}) and (col in {0,4}):
            print("*",end=" ")
        elif (row==3) and (col in {0,1,2,3,4}):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

*       *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [20]:
for row in range(7):
    for col in range(5):
        if (row in {0,6}) and (col in {0,1,2,3,4}):
            print("*",end=" ")
        elif (row in {1,2,3,4,5}) and (col==2):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

* * * * *
    *
    *
    *
    *
    *
* * * * *

In [23]:
for row in range(7):
    for col in range(5):
        if (row==0) and (col in {0,1,2,3,4}):
            print("*",end=" ")
        elif (row in {1,2,3,4} and (col==2)):
            print("*",end=" ")
        elif (row==6) and (col==1):
            print("*",end=" ")
        elif (row==5) and (col in {0,2}):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

* * * * *
    *
    *
    *
    *
*   *
  *

In [3]:
for row in range(7):
    for col in range(5):
        if (row in {0,6}) and (col in {0,4}):
            print("*",end=" ")
        elif (row in {1,5} and (col in {0,3})):
            print("*",end=" ")
        elif (row in {2,4}) and (col in {0,2}):
            print("*",end=" ")
        elif (row==3) and (col in {0,1}):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

*       *
*     *
*   *
* *
*   *
*     *
*       *

In [26]:
for row in range(7):
    for col in range(5):
        if (row in {0,1,2,3,4,5}) and (col==0):
            print("*",end=" ")
        elif (row==6) and (col in {0,1,2,3,4}):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

*
*
*
*
*
*
* * * * *

In [4]:
for row in range(7):
    for col in range(5):
        if (row in {3,4,5,6}) and (col in {0,4}):
            print("*",end=" ")
        elif (row==0) and (col in {0,4}):
            print("*",end=" ")
        elif (row==1) and (col in {0,1,3,4}):
            print("*",end=" ")
        elif (row==2) and (col in {0,2,4}):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

*       *
* *   * *
*   *   *
*       *
*       *
*       *
*       *

In [5]:
#In N 6*6 especial case
for row in range(6):
    for col in range(6):
        if (row in {0,5}) and (col in {0,5}):
            print("*",end=" ")
        elif (row==1) and (col in {0,1,5}):
            print("*",end=" ")
        elif (row==2) and (col in {0,2,5}):
            print("*",end=" ")
        elif (row==3) and (col in {0,3,5}):
            print("*",end=" ")
        elif (row==4) and (col in {0,4,5}):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

*         *
* *       *
*   *     *
*     *   *
*       * *
*         *

In [27]:
for row in range(7):
    for col in range(5):
        if (row in {0,6}) and (col in {1,2,3}):
            print("*",end=" ")
        elif (row in {1,2,3,4,5}) and (col in {0,4}):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

  * * *
*       *
*       *
*       *
*       *
*       *
  * * *

In [9]:
for row in range(7):
    for col in range(5):
        if (row==0) and (col in {1,2,3,4}):
            print("*",end=" ")
        elif (row in {1,2}) and (col in {0,4}):
            print("*",end=" ")
        elif (row==3) and (col in {0,1,2,3}):
            print("*",end=" ")
        elif (row in {4,5,6}) and (col==0):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

  * * * *
*       *
*       *
* * * *
*
*
*

In [14]:
for row in range(7):
    for col in range(5):
        if (row in {0,5}) and (col in {1,2,3}):
            print("*",end=" ")
        elif (row in {1,2,3}) and (col in {0,4}):
            print("*",end=" ")
        elif (row==4) and (col in{0,1,4}):
            print("*",end=" ")
        elif (row==6) and (col==3):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

  * * *
*       *
*       *
*       *
* *     *
  * * *
      *

In [15]:
for row in range(7):
    for col in range(5):
        if (row in {0,3}) and (col in {0,1,2,3}):
            print("*",end=" ")
        elif (row in {1,2,4,5,6}) and (col in {0,4}):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

* * * *
*       *
*       *
* * * *
*       *
*       *
*       *

In [17]:
for row in range(7):
    for col in range(5):
        if (row in {0,3,6}) and (col in {1,2,3}):
            print("*",end=" ")
        elif (row in {1,2}) and (col==0):
            print("*",end=" ")
        elif (row in {4,5}) and (col==4):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

  * * *
*
*
  * * *
        *
        *
  * * *

In [28]:
for row in range(7):
    for col in range(5):
        if (row==0) and (col in {0,1,2,3,4}):
            print("*",end=" ")
        elif (row in {1,2,3,4,5,6}) and (col==2):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

* * * * *
    *
    *
    *
    *
    *
    *

In [18]:
for row in range(7):
    for col in range(5):
        if (row in {0,1,2,3,4,5}) and (col in {0,4}):
            print("*",end=" ")
        elif (row==6) and (col in {1,2,3}):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

*       *
*       *
*       *
*       *
*       *
*       *
  * * *

In [19]:
#In N 4*7 especial case
for row in range(4):
    for col in range(7):
        if (row==0) and (col in {0,6}):
            print("*",end=" ")
        elif (row==1) and (col in {1,5}):
            print("*",end=" ")
        elif (row==2) and (col in {2,4}):
            print("*",end=" ")
        elif (row==3) and (col==3):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

*           *
  *       *
    *   *
      *

In [20]:
#In N 7*7 especial case
for row in range(7):
    for col in range(7):
        if (row in {0,1,2,6}) and (col in {0,6}):
            print("*",end=" ")
        elif (row==3) and (col in {0,3,6}):
            print("*",end=" ")
        elif (row==4) and (col in {0,2,4,6}):
            print("*",end=" ")
        elif (row==5) and (col in {0,1,5,6}):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

*           *
*           *
*           *
*     *     *
*   *   *   *
* *       * *
*           *

In [22]:
#In N 7*7 especial case
for row in range(7):
    for col in range(7):
        if (row in {0,6}) and (col in {0,6}):
            print("*",end=" ")
        elif (row in {1,5}) and (col in {1,5}):
            print("*",end=" ")
        elif (row in {2,4}) and (col in {2,4}):
            print("*",end=" ")
        elif (row==3) and (col==3):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

*           *
  *       *
    *   *
      *
    *   *
  *       *
*           *

In [23]:
#In N 7*7 especial case
for row in range(7):
    for col in range(7):
        if (row==0) and (col in {0,6}):
            print("*",end=" ")
        elif (row==1) and (col in {1,5}):
            print("*",end=" ")
        elif (row==2) and (col in {2,4}):
            print("*",end=" ")
        elif (row==3) and (col==3):
            print("*",end=" ")
        elif (row in {4,5,6}) and (col==3):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

*           *
  *       *
    *   *
      *
      *
      *
      *

In [27]:
#It is also a special case in which we can print 4*4,5*5,6*6,7*7 and so on.
for row in range(5):
    for col in range(5):
        if (row in {0,4}) and (col in {0,1,2,3,4}):
            print("*",end=" ")
        elif (row==1) and (col==3):
            print("*",end=" ")
        elif (row==2) and (col==2):
            print("*",end=" ")
        elif (row==3) and (col==1):
            print("*",end=" ")
        else:
            print(' ',end=" ")
    print()

* * * * *
      *
    *
  *
* * * * *